body {
    background-image: url("img/cornell_background_offset.jpg");
}

#input-container #input {
    list-style-type: none;
    background-color: #a6192e;
    padding: 5px;
    margin: 10px auto;
    color: white;
}

#input-container select {
    color: black;
}

#input-container input {
    color: black;
}

#input-container {
    display: block;
    margin: 100px auto;
    width:75%;
    background-color: rgba(0,0,0,.75);
    padding:20px;
}

label > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    border:2px solid #f00;
}

#radio-container img {
    width: 75px;
    height: 75px;
    margin: 15px;
}

#radio-container {
    text-align: center;
}
