/*================================== BANNER ===================================*/

#banner_image {
    height: 600px;
    overflow: hidden;
}

#banner_image img {
    width: 100%;
}

#banner_image #inner_logo {
    display: block;
    position: absolute;
    top: 160px;
    width: 70%;
    margin-left: 15%;
}

#banner_image #inner_logo img {
    width: 100%;
}

/*==================================== FORM ====================================*/

#form-container select {
    color: black;
}

#form-container input {
    color: black;
}

#form-container {
    display: block;
    margin: 100px auto;
    width: 1200px;
    padding: 20px;
}

#form_title {
    font-size: 3em;
}

/*--------------- RADIO COMPONENT ------------------*/

label > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
label > input + #radio-clickable{ /* IMAGE STYLES */
    cursor:pointer;
    border: 3px solid transparent;
}
label > input:checked + #radio-clickable{ /* (RADIO CHECKED) IMAGE STYLES */
    border: 3px solid #f00;
}

#radio-clickable {
    width: 100px;
    margin: 25px;
}

#radio-clickable img {
    width: 100%;
}

#radio-container {
    text-align: center;
}

/*--------------------- INPUTS --------------------------*/

#form-container #input-component {
    list-style-type: none;
    padding: 5px;
    margin: 10px auto;
    color: #4b4b4b;
    display: inline-block;
}

#form-container #input-component {
    text-align: left;
}

.internal-bubbles, .internal-bubbles #input-component {
    display: inline-block;
}

.internal-bubbles {
    width: 50%;
}

.internal-bubbles.right-align {
    text-align: right;
}

.external-bubbles {
    overflow: auto;
}

.external-bubbles #input-component {
    width: 20%;
}

#input-container input {
    outline: none;
}
.internal-bubbles #input-label {
    width: 75px;
    display: inline-block;
    vertical-align: top;
    margin-top: 7px;
}

#input-container {
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    border-color: #888;
    width: 325px;
    height: 35px;
}

.right-align #input-container {
    width: 395px;
}

.external-bubbles #input-container {
    width: 225px;
    float: left;
    margin-right: 50px;
}

#input-container input {
    border-style: none;
    height: 100%;
    width: 100%;
}

#input-sizer {
    width: auto;
    height: 90%;
    overflow: hidden;
}

/*---------------------- BUBBLES ------------------------*/

#bubble {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    padding: 2px 6px;
    margin: 5px 3px;
    font-size: 12px;
    background-color: #eee;
    float: left;
}

#bubble-delete {
    width: 12px;
    margin: 0 3px 1px 1px;
    background-color: #ddd;
    border-radius: 10px;
    border-style: solid;
    border-width: 0;
}

#bubble-delete:hover {
    background-color: #fff;
    cursor: pointer;
}

#external-bubble-container {
    width: 75%;
    height: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: #888;
    float: right;
    margin-top: 35px;
}

/*------------------ INPUT SUGGESTIONS ------------------*/
#suggestions {
    width: 300px;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    margin-left: 75px;
}

.external-bubbles #suggestions {
    margin-left: 0;
}

#suggestions #suggestion {
    border-style: solid;
    border-width: 1px 0 0 0;
}

#suggestions #suggestion.focused {
    background-color: #565656;
    color: #fff;
}

#suggestions #suggestion.unfocused {
    background-color: #ffffff;
    color: #000;
}

#suggestions #suggestion td {
    padding: 10px;
}

/*---------------- SEMESTERS ---------------------------------*/

#semesters-container {
    display: inline-block;
    margin: 15px;
    color: #fff;
}

#semesters-container #season.fall {
    background-color: #790000;
}

#semesters-container #year.fall {
    background-color: #9e0b0f;
}

#semesters-container #season.spring {
    background-color: #f26c4f;
}

#semesters-container #year.spring {
    background-color: #f69679;
}

#year {
    font-size: 50px;
    padding: 7px 5px 7px 0;
    font-family: Avenir;
}

#season {
    font-family: Avenir;
    font-weight: lighter;
    padding: 3px;
}

#semesters-container #radio-clickable {
    margin: 10px;
}

/*===================== SCREEN SIZE VARIATIONS ========================*/

@media (max-width: 1250px) {
    #form-container {
        width: 1000px;
    }

    #radio-clickable {
        margin: 17px;
    }

    #semesters-container #radio-clickable {
        margin: 5px;
    }

    #semesters-container {
        margin: 10px;
    }
}